name: NPM Publish

on:
  workflow_dispatch: {}

permissions: {}

jobs:
  publish:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 20.x
      - name: Install dependencies
        run: npm ci
      - name: Build library
        run: npm run build-lib
      - name: Publish package
        uses: JS-DevTools/npm-publish@7f8fe47b3bea1be0c3aec2b717c5ec1f3e03410b
        with:
          token: ${{ secrets.NPM_TOKEN}}
          access: public
          provenance: true
