name: NPM Publish

on:
  workflow_dispatch: {}

permissions: {}

jobs:
  publish:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 20.x
      - name: Install dependencies
        run: npm ci
      - name: Build library
        run: npm run build-lib
      - name: Publish package
        uses: JS-DevTools/npm-publish@4ce4bd0f334d5316473155078da1955d42148494
        with:
          token: ${{ secrets.NPM_TOKEN}}
          access: public
          provenance: true
